*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
Foodly/local.properties
Foodly/.idea/libraries/Gradle__org_reactivestreams_reactive_streams_1_0_2_jar.xml
Foodly/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_3_21_jar.xml
Foodly/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_21_jar.xml
Foodly/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_21_jar.xml
Foodly/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_21_jar.xml
Foodly/.idea/libraries/Gradle__org_jetbrains_annotations_16_0_1_jar.xml
Foodly/.idea/libraries/Gradle__org_jacoco_org_jacoco_agent_0_7_9_runtime_jar.xml
Foodly/.idea/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_2_6_jar.xml
Foodly/.idea/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_1_0_aar.xml
Foodly/.idea/libraries/Gradle__com_shawnlin_number_picker_2_4_8_aar.xml
Foodly/.idea/libraries/Gradle__com_pnikosis_materialish_progress_1_0_aar.xml
Foodly/.idea/libraries/Gradle__com_jakewharton_timber_timber_4_7_1_aar.xml
Foodly/.idea/libraries/Gradle__com_github_sephiroth74_android_target_tooltip_v2_0_4_aar.xml
Foodly/.idea/libraries/Gradle__com_github_sephiroth74_NumberSlidingPicker_v1_0_3_aar.xml
Foodly/.idea/libraries/Gradle__com_github_sephiroth74_AndroidUIGestureRecognizer_v1_2_7_aar.xml
Foodly/.idea/libraries/Gradle__cn_pedant_sweetalert_library_1_3_aar.xml
Foodly/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_1_1_3_jar.xml
Foodly/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
Foodly/.idea/libraries/Gradle__android_android_28.xml
Foodly/.idea/encodings.xml
Foodly/.idea/assetWizardSettings.xml
